body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #e74c3c;
    padding: 20px;
    margin: 0;
}

#controls {
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
}

#mainWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
}

#leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rightSide {
  width: 250px;
  text-align: left;
}

#history {
  display:flex;
  gap:5px;
  flex-wrap:wrap;
  margin-bottom:15px;
}

#players {
  margin-top:10px;
  padding-left:20px;
}